html {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
}

.carousel {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.activiti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10%;
}

.card {
    margin: 20px;
}

.foot {
    position: absolute;
    margin-top: -5%;
}

.contact {
    margin: 30px;
}