html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
}
.corps {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.carousel {
    position: absolute;
    width: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.activiti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.foot {
    margin-top: -5%;
}

.contact {
    margin-left: 10%;
    margin-right: 10%;
}

.centreTxt {
    text-align: center!important;
}

#backRemiseEnForme {
    background-image: url('../img/remise_en_forme.jpg')!important;
}
.bg-white#remiseenforme{
    background-color: rgba(255,255,255,0.5)!important;
}
