html {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
}

.carousel {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin-top: 76px;
}

.activiti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10%;
}

.card {
    margin: 20px;
}

.foot {
    position: absolute;
    bottom: 0;
    margin-top: -50px;
}

.contact {
    margin: 30px;
}


/* Page Emplacement */
.metro {
	font-weight: bold;
}

.metro span{
	padding: 10px;
    color: white;
    display: inline-block;
    width: 100px;
    text-align: center;
}